

body {
    margin: 0;
}

aside {
    height: 800px;
    margin: 0;
    padding: 0;
}
#mainimage{
    position: absolute;
    top: 0px;
    width: 1000px;
    height: 800px;
    filter: brightness(70%)
}
#logo{
    font-family: 'Arial Rounded MT Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 46px;
    color: #3F57FF;
    position: absolute;
    text-shadow: 0px 0px 2px black;
    left: 20px;
    top: -20px;
}

main {
    box-sizing: border-box;
    position: absolute;
    width: 400px;
    height: 1080px;
    left: 920px;
    top: 0px;
    background-color: white;
}

#login {
    position: absolute;
    width: 109px;
    height: 60px;
    left: 75px;
    top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 60px;
    color: #707070;
}

#comment {
    position: absolute;
    width: 400px;
    height: 38px;
    left: 65px;
    top: 200px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 38px;
    color: #707070;
}

#image_hight {
    display: inline-block;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #707070;
}

#comment_1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #707070;
}

#id1 {
    position: absolute;
    width: 200px;
    left: -460px;
    top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    color: #707070;
}
#id {
    position: absolute;
    width: 100px;
    left: 1px;
    top: 1px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    color: #707070;
}
#pw {
    position: absolute;
    width: 100px;
    left: 1px;
    top: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    color: #707070;
}
#pw1 {
    position: absolute;
    width: 200px;
    left: -460px;
    top: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    color: #707070;
}
#ps1 {
    position: absolute;
    width: 200px;
    left: -460px;
    top: 190px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    color: #707070;
}
#rn1 {
    position: absolute;
    width: 200px;
    left: -460px;
    top: 280px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    color: #707070;
}
#nn1 {
    position: absolute;
    width: 200px;
    left: -460px;
    top: 370px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    color: #707070;
}
#slogan {
    position: absolute;
    width: 200px;
    left: -250px;
    top: 150px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    color: #707070;
}
#minislogan {
    position: absolute;
    width: 400px;
    left: -370px;
    top: 200px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 38px;
    color: #707070;
}
#inid {
    box-sizing: border-box;
    width: 500px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 60px;
    font-size: 25px;
    color: black;
    ;
    background: #FFFFFF;
    opacity: 0.59;
    border: 1px solid #707070;
    border-radius: 15px;
}

#password {
    box-sizing: border-box;
    width: 500px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 150px;
    font-size: 25px;
    color: black;
    background: #FFFFFF;
    opacity: 0.59;
    border: 1px solid #707070;
    border-radius: 15px;
}
#innid {
    box-sizing: border-box;
    width: 500px;
    height: 40px;
    position: absolute;
    left: -460px;
    top: 60px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    background: #FFFFFF;
    opacity: 0.59;
    border: 1px solid #707070;
    border-radius: 15px;
}
#password1 {
    box-sizing: border-box;
    width: 500px;
    height: 40px;
    position: absolute;
    left: -460px;
    top: 150px;
    font-size: 25px;
    color: black;
    background: #FFFFFF;
    opacity: 0.59;
    border: 1px solid #707070;
    border-radius: 15px;
}
#ps {
    box-sizing: border-box;
    width: 500px;
    height: 40px;
    position: absolute;
    left: -460px;
    top: 240px;
    font-size: 25px;
    color: black;
    ;
    background: #FFFFFF;
    opacity: 0.59;
    border: 1px solid #707070;
    border-radius: 15px;
}
#rn {
    box-sizing: border-box;
    width: 500px;
    height: 40px;
    position: absolute;
    left: -460px;
    top: 330px;
    font-size: 25px;
    color: black;
    ;
    background: #FFFFFF;
    opacity: 0.59;
    border: 1px solid #707070;
    border-radius: 15px;
}
#nn {
    box-sizing: border-box;
    width: 500px;
    height: 40px;
    position: absolute;
    left: -460px;
    top: 420px;
    font-size: 25px;
    color: black;
    ;
    background: #FFFFFF;
    opacity: 0.59;
    border: 1px solid #707070;
    border-radius: 15px;
}
#imgbutton_main {
    width: 500px;
    height: 40px;
    position: absolute;
    left: -460px;
    top: 480px;
    background: #FFFFFF;

}
#loginform {
    position: absolute;
    width: 400px;
    height: 500px;
    top: 240px;
    left: 20px;
}








#cb {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 210px;
}

#checkbox {
    display: inline-block;
    position: absolute;
    margin: 0px;
    width: 80px;
    height: 10px;
    left: 23px;
    top: 202px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 38px;
}

button {
    position: absolute;
    top: 450px;
    left: 45px;
    border: 0px transparent;
    background-color: transparent;
}

button img {
    width: 401px;
    height: 47px;
}



#asign {
    text-decoration: none;
    display: inline-block;
    position: absolute;
    left: 200px;
    top: 317px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #3F57FF;
}
#imgbutton{
    position: absolute;
    top: 250px
}