/* 외부 폰트 불러오기 (Google Fonts 사용) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

/* @font-face 규칙을 사용하여 폰트 등록 */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), url('https://fonts.gstatic.com/s/notosanskr/v11/Pby6FmXiEBPT4ITbgNA5CgmOsn7uwp0sFImRNLrF.woff2') format('woff2');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'), url('https://fonts.gstatic.com/s/notosanskr/v11/Pby6FmXiEBPT4ITbgNA5Cn1_5ljZKzY.woff2') format('woff2');
}

/* 실제 요소에 폰트 적용 */
body {
    font-family: 'Noto Sans KR', sans-serif;
}

header,main,footer {
    display: relative;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0; /* p 태그의 margin을 0으로 설정 */
}


