
.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1200px;
	height:800px;
	position:absolute;
}
.e117_11 { 
	width:765px;
	height:800px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e117_2 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:353px;
	height:53px;
	position:absolute;
	left:811px;
	top:303px;
}
.e117_3 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:353px;
	height:53px;
	position:absolute;
	left:811px;
	top:380px;
}
.e117_7 { 
	width:150px;
	height:25px;
	position:absolute;
	left:811px;
	top:442px;
}
.e117_6 { 
	color:rgba(105.39087116718292, 105.39087116718292, 105.39087116718292, 1);
	width:150px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Kokonor;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e117_8 { 
	width:111px;
	height:33.205535888671875px;
	position:absolute;
	left:1053px;
	top:464px;
}
.e117_9 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:111px;
	height:33.07428741455078px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e117_10 { 
	color:rgba(73.42871144413948, 73.42871144413948, 73.42871144413948, 1);
	width:57.685001373291016px;
	height:30.84308624267578px;
	position:absolute;
	left:30px;
	top:2.3624491691589355px;
	font-family:Kokonor;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e117_13 { 
	background-color:rgba(72.49487355351448, 72.25534960627556, 72.25534960627556, 0.20000000298023224);
	width:788px;
	height:886px;
	position:absolute;
	left:-23px;
	top:0px;
}
.e2_3 { 
	color:rgba(0, 0, 0, 0.20000000298023224);
	width:515px;
	height:218px;
	position:absolute;
	left:45px;
	top:29px;
	font-family:Mali;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
.e117_19 { 
	width:370px;
	height:143px;
	position:absolute;
	left:803px;
	top:92px;
	background-image:url(images/______________1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e122_2 { 
	width:100px;
	height:100px;
	position:absolute;
	left:560px;
	top:14px;
}
.e140_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1200px;
	height:800px;
	position:absolute;
}
.e140_3 { 
	color:rgba(0, 0, 0, 0.20000000298023224);
	width:296px;
	height:103px;
	position:absolute;
	left:473px;
	top:57px;
	font-family:Mali;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
.e140_11 { 
	width:705px;
	height:368px;
	position:absolute;
	left:85px;
	top:191px;
}
.e140_12 { 
	color:rgba(0, 0, 0, 1);
	width:338px;
	height:58px;
	position:absolute;
	left:367px;
	top:44px;
	font-family:Mali;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e140_35 { 
	color:rgba(0, 0, 0, 1);
	width:338px;
	height:58px;
	position:absolute;
	left:367px;
	top:122px;
	font-family:Mali;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e157_36 { 
	color:rgba(0, 0, 0, 1);
	width:338px;
	height:58px;
	position:absolute;
	left:364px;
	top:310px;
	font-family:Mali;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e140_15 { 
	width:309px;
	height:344px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e140_32 { 
	width:157.59445190429688px;
	height:29.99999237060547px;
	position:absolute;
	left:236px;
	top:559px;
}
.e140_33 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:157.59445190429688px;
	height:29.881418228149414px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e140_34 { 
	color:rgba(73.42871144413948, 73.42871144413948, 73.42871144413948, 1);
	width:81.89942169189453px;
	height:27.8656063079834px;
	position:absolute;
	left:42.593101501464844px;
	top:2.1343865394592285px;
	font-family:ABeeZee;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e140_38 { 
	width:240px;
	height:57px;
	position:absolute;
	left:381px;
	top:708px;
}
.e140_39 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:240px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e140_40 { 
	color:rgba(73.42871144413948, 73.42871144413948, 73.42871144413948, 1);
	width:172px;
	height:28px;
	position:absolute;
	left:47px;
	top:29px;
	font-family:ABeeZee;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e155_2 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:667px;
	height:83px;
	position:absolute;
	left:450px;
	top:400px;
}
.e155_3 { 
	color:rgba(0, 0, 0, 1);
	width:668px;
	height:83px;
	position:absolute;
	left:449px;
	top:400px;
	font-family:Mali;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e157_37 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:169px;
	height:52px;
	position:absolute;
	left:453px;
	top:570px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e157_38 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:169px;
	height:52px;
	position:absolute;
	left:698px;
	top:567px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e157_39 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:169px;
	height:52px;
	position:absolute;
	left:943px;
	top:567px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e157_40 { 
	color:rgba(0, 0, 0, 1);
	width:168px;
	height:51px;
	position:absolute;
	left:452px;
	top:570px;
	font-family:Mali;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e157_42 { 
	color:rgba(0, 0, 0, 1);
	width:168px;
	height:51px;
	position:absolute;
	left:698px;
	top:567px;
	font-family:Mali;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e157_43 { 
	color:rgba(0, 0, 0, 1);
	width:168px;
	height:51px;
	position:absolute;
	left:943px;
	top:567px;
	font-family:Mali;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e157_44 { 
	color:rgba(0, 0, 0, 1);
	width:168px;
	height:51px;
	position:absolute;
	left:943px;
	top:567px;
	font-family:Mali;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}

.124_2 { 
	overflow:hidden;
}
.e124_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1200px;
	height:800px;
	position:absolute;
}
.e124_9 { 
	width:157.59445190429688px;
	height:29.99999237060547px;
	position:absolute;
	left:432px;
	top:627px;
}
.e124_10 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:157.59445190429688px;
	height:29.881418228149414px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e124_11 { 
	color:rgba(73.42871144413948, 73.42871144413948, 73.42871144413948, 1);
	width:81.89942169189453px;
	height:27.8656063079834px;
	position:absolute;
	left:42.593101501464844px;
	top:2.1343865394592285px;
	font-family:ABeeZee;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e127_2 { 
	width:157.59445190429688px;
	height:29.99999237060547px;
	position:absolute;
	left:602px;
	top:627px;
}
.e127_3 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:157.59445190429688px;
	height:29.881418228149414px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e127_4 { 
	color:rgba(73.42871144413948, 73.42871144413948, 73.42871144413948, 1);
	width:81.89942169189453px;
	height:27.8656063079834px;
	position:absolute;
	left:42.593101501464844px;
	top:2.1343865394592285px;
	font-family:ABeeZee;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e124_15 { 
	width:272px;
	height:105px;
	position:absolute;
	left:454px;
	top:674px;
	background-image:url(images/______________1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e124_16 { 
	width:100px;
	height:100px;
	position:absolute;
	left:560px;
	top:14px;
}
.e122_21 { 
	color:rgba(0, 0, 0, 1);
	width:92px;
	height:30px;
	position:absolute;
	left:440px;
	top:71px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e122_25 { 
	color:rgba(0, 0, 0, 1);
	width:239px;
	height:17px;
	position:absolute;
	left:440px;
	top:110px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e124_7 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:319.9084777832031px;
	height:48.031585693359375px;
	position:absolute;
	left:440px;
	top:194px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e124_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:319.9084777832031px;
	height:48.031585693359375px;
	position:absolute;
	left:440px;
	top:280px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e122_27 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:319.9084777832031px;
	height:48.031585693359375px;
	position:absolute;
	left:440px;
	top:367px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e122_22 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:18px;
	position:absolute;
	left:440px;
	top:168px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e122_26 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:18px;
	position:absolute;
	left:440px;
	top:254px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e122_28 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:18px;
	position:absolute;
	left:440px;
	top:343px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e122_29 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:319.9084777832031px;
	height:48.031585693359375px;
	position:absolute;
	left:440px;
	top:450px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e122_30 { 
	color:rgba(0, 0, 0, 1);
	width:28px;
	height:18px;
	position:absolute;
	left:440px;
	top:426px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e122_31 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:319.9084777832031px;
	height:48.031585693359375px;
	position:absolute;
	left:440px;
	top:538px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e122_32 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:18px;
	position:absolute;
	left:440px;
	top:514px;
	font-family:Inter;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}