<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DongYouth/login</title>
    <style>
        @import url("../static/css/login.css");
        @import url("../static/css/default.css");
    </style>
</head>
<body>
    <main>
        
        <p id="image_hight"><img src="../images/학교로고.png" alt=""></p>
        <p id="slogan">투두리스트!</p>
        <p id="minislogan">회원이 되어 투두리스트를 경험해보세요!</p>

        <form id="loginform"action="">
            <p id="id1">아이디</p>
            <input id="innid"type="email" required></input>
            <p id="pw1">비밀번호</p>
            <input id="password1"type="password" required></input>
            <p id="ps1">비밀번호 확인</p>
            <input id="ps"type="Password sub" required></input>
            <p id="rn1">이름</p>
            <input id="rn"type="realname" required></input>
            <p id="nn1">닉네임</p>
            <input id="nn"type="nickname" required></input>
            <a href="sign.html">
                    <button id="imgbutton_main" type="button">
                    <img src="../images/loginbutton.png" alt="">
                    </button>
        </form>
        <script src="js/login.js">
            
        </script>
    </main>
</body>
</html>
