    <html lang="en">
            <head>
                <meta charset="utf-8">
            
                <title>Html Generated</title>
                <meta name="description" content="Figma htmlGenerator">
                <meta name="author" content="htmlGenerator">
                <link href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

                <link rel="stylesheet" href="styles.css">
                
                <style>
                /*
                    Figma Background for illustrative/preview purposes only.
                    You can remove this style tag with no consequence
                */
                body {background: #E5E5E5; }
                </style>
            
            </head>
            
            <body>
                <div class=e124_2><div class=e124_9><div  class="e124_10"></div><span  class="e124_11">회원가입</span></div><div class=e127_2><div  class="e127_3"></div><span  class="e127_4">가입취소</span></div><div  class="e124_15"></div><span  class="e122_21">회원가입</span><span  class="e122_25">회원이 되어 투두리스트를 경험해 보세요! </span><div  class="e124_7"></div><div  class="e124_8"></div><div  class="e122_27"></div><span  class="e122_22">아이디</span><span  class="e122_26">비밀번호</span><span  class="e122_28">비밀번호 확인</span><div  class="e122_29"></div><span  class="e122_30">이름</span><div  class="e122_31"></div><span  class="e122_32">닉네임</span></div>
            </body>
            </html>